<header>
    <div>Ukubuka</div>
    {% if t.user and t.user.is_logged_in %}
        <a href="/{{ t.language }}/account">{{ 'Account'|translate }}</a>
    {% else %}
        <ul>
            <li><a href="/{{ t.language }}/login">{{ 'Log in'|translate }}</a></li>
            <li><a href="/{{ t.language }}/registration">{{ 'Registration'|translate }}</a></li>
        </ul>
    {% endif %}
    <ul>
        <li><a href="/{{ t.language }}/">{{ 'Home page'|translate }}</a></li>
        <li><a href="/{{ t.language }}/catalog">{{ 'Catalog'|translate }}</a></li>
    </ul>
</header>