{% extends 'layouts/acp/layout.html' %}


{% block title -%}

ACP {{ 'Translations'|translate }}

{%- endblock %}

{% block content -%}

<h1>{{ 'Translations'|translate }}</h1>

<div>
    <h2>{{ 'Languages'|translate }}</h2>
    <ul>
        {% for language in languages %}
        <li>
            <a href="/{{ template.language }}/acp/languages?for_language={{ language.code }}">{{ language.name }}</a>
        </li>
        {% endfor %}
    </ul>
</div>

<div>
    <table>
        <thead>
            <tr>
                <th>{{ 'text'|translate }}</th>
                <th>{{ 'translation'|translate }}</th>
            </tr>
        </thead>
        <tbody>
            {% for text, translation in translations.items() %}
            <tr>
                <td>{{ text }}</td>
                <td>{{ translation }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{%- endblock %}