<ul>
    <li><a href="/{{ t.language.code }}/acp">{{ 'Home page'|translate }}</a></li>
    <li><a href="/{{ t.language.code }}/acp/translations">{{ 'Translations'|translate }}</a></li>
    <li><a href="/{{ t.language.code }}/acp/categories">{{ 'Categories'|translate }}</a></li>
    <li><a href="/{{ t.language.code }}/acp/products">{{ 'Products'|translate }}</a></li>
    <li><a href="/{{ t.language.code }}/acp/catalog">{{ 'Catalog'|translate }}</a></li>
    <li><a href="{{ url_for('userACPBlueprint.usersACPRoute', language=t.language.code) }}">{{ 'Users'|translate }}</a></li>
</ul>