<ul>
    <li><a href="/{{ t.language.code }}/acp">{{ 'Home page'|_ }}</a></li>
    <li><a href="/{{ t.language.code }}/acp/translations">{{ 'Translations'|_ }}</a></li>
    <li><a href="/{{ t.language.code }}/acp/categories">{{ 'Categories'|_ }}</a></li>
    <li><a href="/{{ t.language.code }}/acp/products">{{ 'Products'|_ }}</a></li>
    <li><a href="/{{ t.language.code }}/acp/catalog">{{ 'Catalog'|_ }}</a></li>
    <li><a href="{{ url_for('ACP_user_Blueprint.ACP_users_route', language=t.language.code) }}">{{ 'Users'|_ }}</a></li>
</ul>