<ul>
    <li><a href="/{{ t.language.code }}/acp">{{ 'Home page'|translate(t.language.code) }}</a></li>
    <li><a href="/{{ t.language.code }}/acp/translations">{{ 'Translations'|translate(t.language.code) }}</a></li>
    <li><a href="/{{ t.language.code }}/acp/categories">{{ 'Categories'|translate(t.language.code) }}</a></li>
    <li><a href="/{{ t.language.code }}/acp/products">{{ 'Products'|translate(t.language.code) }}</a></li>
    <li><a href="/{{ t.language.code }}/acp/catalog">{{ 'Catalog'|translate(t.language.code) }}</a></li>
    <li><a href="{{ url_for('userACPBlueprint.usersACPRoute', language=t.language.code) }}">{{ 'Users'|translate(t.language.code) }}</a></li>
</ul>