{% extends 'layouts/acp/layout.html' %}

{% block content -%}

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>{{ 'text'|translate(t.language.code) }}</th>
            {% for language in t.languages.values() %}
            <th>{{ language.name }}</th>
            {% endfor %}
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for text in texts.values() %}
        <tr>
            <td>{{ text.ID }}</td>
            <td>{{ text.text }}</td>
            {% for languageCode in t.languages.keys() %}
            <td>{{ text.translations[languageCode] }}</td>
            {% endfor %}
            <td>
                <a href="{{ url_for('translationsACPBlueprint.editTranslationACPRoute', language=t.language.code, id=text.ID) }}">{{ 'edit'|translate(t.language.code) }}</a>
                <a href="{{ url_for('translationsACPBlueprint.deleteTranslationACPRoute', language=t.language.code, id=text.ID) }}">{{ 'delete'|translate(t.language.code) }}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{%- endblock %}