{% extends 'layouts/layout.html' %}


{% block title %}

{{ 'Account'|_ }} - Ukubuka

{% endblock %}


{% block content %}

<h1>{{ 'Account'|_ }}</h1>
<p>{{ 'Session ID'|_ }}: {{ t.sessionID }}</p>
<p>{{ 'User ID'|_ }}: {{ t.user.id }}</p>
<p>{{ 'First name'|_ }}: {{ t.user.first_name }}</p>
<p>{{ 'Last name'|_ }}: {{ t.user.last_name }}</p>
<p>{{ 'Registered on'|_ }}: {{ t.user.registered_datetime }}</p>
<p>{{ 'Language'|_ }}: {{ t.language.code }}</p>
<a href="/{{ t.language.code }}/logout">{{ 'Log out'|_ }}</a>

{% endblock %}