{% extends 'layouts/layout.html' %}


{% block title -%}

{{ 'Registration'|translate(t.language.code) }} - Ukubuka

{%- endblock %}


{% block content -%}

<h1>{{ 'Registration'|translate(t.language.code) }}</h1>
{% if errors and 'other' in errors %}{% for error in errors['other'] %}<p>{{ error }}</p>{% endfor %}{% endif %}
<form action="{{ url_for('userBlueprint.registrationRoute', language=t.language.code) }}" method="post">
    {% if errors and 'email' in errors %}{% for error in errors['email'] %}<p>{{ error }}</p>{% endfor %}{% endif %}
    <input type="email" name="email">
    {% if errors and 'password' in errors %}{% for error in errors['password'] %}<p>{{ error }}</p>{% endfor %}{% endif %}
    <input type="password" name="password">
    <input type="submit">
</form>

{%- endblock %}