<nav class="acp_nav">
    <a href="/ua/acp/catalogs">
        <div class="nav_elem">
            Catalogs
        </div>
    </a>
    <a href="/ua/acp/categories">
        <div class="nav_elem">
            Categories
        </div>
    </a>
    <a href="/ua/acp/products">
        <div class="nav_elem">
            Products
        </div>
    </a>
    <a href="/ua/acp/users">
        <div class="nav_elem">
            Users
        </div>
    </a>
    <a href="/ua/acp/languages">
        <div class="nav_elem">
            Languages
        </div>
    </a>
    <a href="/ua/acp/translations">
        <div class="nav_elem">
            Translations
        </div>
    </a>
</nav>