{% extends 'layouts/ACP/layout.html' %}

{% block content %}

<form action="{{ url_for('userACPBlueprint.editUserACPRoute', language=t.language.code, id=user.ID) }}" method="POST">
    <div>
        <label for="text">{{ 'ID'|_ }}</label>
        <input type="text" name="text" id="text" value="{{ user.ID }}" disabled>
    </div>
    <div>
        {% if 'email' in formErrors %}
        {% for errorText in formErrors['email'] %}
        <p>{{ errorText }}</p>
        {% endfor %}
        {% endif %}
        <label for="email">{{ 'email'|_ }}</label>
        <input class="{{ 'error' if 'email' in formErrors }}" type="email" name="email" id="email" value="{{ user.email }}">
    </div>
    <div>
        {% if 'password' in formErrors %}
        {% for errorText in formErrors['password'] %}
        <p>{{ errorText }}</p>
        {% endfor %}
        {% endif %}
        <label for="password">{{ 'password'|_ }}</label>
        <input class="{{ 'error' if 'password' in formErrors }}" type="password" name="password" id="password">
    </div>
    <div>
        {% if 'first_name' in formErrors %}
        {% for errorText in formErrors['first_name'] %}
        <p>{{ errorText }}</p>
        {% endfor %}
        {% endif %}
        <label for="first_name">{{ 'first name'|_ }}</label>
        <input class="{{ 'error' if 'first_name' in formErrors }}" type="text" name="first_name" id="first_name" value="{{ user.firstName }}">
    </div>
    <div>
        {% if 'last_name' in formErrors %}
        {% for errorText in formErrors['last_name'] %}
        <p>{{ errorText }}</p>
        {% endfor %}
        {% endif %}
        <label for="last_name">{{ 'last name'|_ }}</label>
        <input class="{{ 'error' if 'last_name' in formErrors }}" type="text" name="last_name" id="last_name" value="{{ user.lastName }}">
    </div>
    <input type="submit">
</form>

{% endblock %}