{% extends 'layouts/ACP/layout.html' %}

{% block content %}

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>{{ 'email'|_ }}</th>
            <th>{{ 'name'|_ }}</th>
            <th>{{ 'is blocked'|_ }}</th>
            <th>{{ 'registration date'|_ }}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.ID }}</td>
            <td>{{ user.email|view }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.isBlocked|view|_ }}</td>
            <td>{{ user.registeredDatetime }}</td>
            <td>
                <a href="{{ url_for('ACP_user_Blueprint.ACP_edit_user_route', language=t.language.code, id=user.ID) }}">{{ 'edit'|_ }}</a>
                {% if user.isBlocked %}
                <a href="{{ url_for('ACP_user_Blueprint.unblock_user_ACP_route', language=t.language.code, id=user.ID) }}">{{ 'unblock'|_ }}</a>
                {% else %}
                <a href="{{ url_for('ACP_user_Blueprint.block_user_ACP_route', language=t.language.code, id=user.ID) }}">{{ 'block'|_ }}</a>
                {% endif %}
                <a href="{{ url_for('ACP_user_Blueprint.delete_user_ACP_route', language=t.language.code, id=user.ID) }}">{{ 'delete'|_ }}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}