.notifications {
    .info {
        background-color: white;
    }
    .warning {
        background-color: darkkhaki;
    }
    .success {
        background-color: aquamarine;
    }
    .error {
        background-color: indianred;
    }
}