@import url("https://fonts.googleapis.com/css?family=Roboto");

html, body, div{
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 1rem;
    padding: 0;
}

html {
    font-size: $base_font_size;
    font-family: Roboto, Tahoma, sans-serif;
}