{% extends 'layouts/acp/layout.html' %}


{% block title -%}

ACP - {{ t.title }}

{%- endblock %}


{% block content -%}

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>{{ 'text'|translate }}</th>
            {% for language in languages.values() %}
            <th>{{ language.name }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for text in texts %}
        <tr>
            <td>{{ text.text }}</td>
            {% for languageCode in languages.keys() %}
            <td>{{ text.translations[languageCode] }}</td>
            {% endfor %}
            <td><a href="/{{ t.language.code }}/acp/translations/edit?text={{ text.ID }}">{{ 'edit'|translate }}</a></td>
            <td><a href="/{{ t.language.code }}/acp/translations/delete?text={{ text.ID }}">{{ 'delete'|translate }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{%- endblock %}